.sideBarContainer{
    width: 30px; 
    background-color: white;
    text-align: right;
    grid-column: 3;
    flex-direction: column ;
    padding:column;
};
/* .grid.sideBarContainer  {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: left;
    flex-direction:column-reverse;
}
.left-button {
    grid-column: 1;
} 

.right-button {
    grid-column: 3;
} */